# IDE / Editor files and directories
**/.vs
**/.vscode
.**/settings
*.cproject
*.cproject~
*.project
*.vcxproj
*.vcxproj.filters
*.filters
*.cache
*.sublime-workspace
*.sublime-project
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.code-workspace
*.xml
*.sln
*.suo
*.out
**/.metadata
**/.metadata_raw

# Operating system
.DS_Store
.AppleDouble
.LSOverride
._*
.Trashes
.VolumeIcon.incs
.AppleDB
.AppleDesktop
.fseventsd
.DocumentRevisions-V100
.Spotlight-V100
.TemporaryItems
.apdsi

# Build files and directories
*.o
*.d
*.mk
/build
**/debug
**/release
**/fast-vers
**/x64
**/x86
**/bin
**/Debug
**/Release
**/Periodic_Debug
**/Periodic_Release
**/build
**/out
**/x64-Debug
**/x64-Release
**/x86-Debug
**/x86-Release
*.cmake
**/Testing
*.ninja
*.ninja_deps
build.ninja
*.tlog
*.recipe


**/out

# documentation files
**/doc
**/documentation
**/docs
**/html
**/latex
*.md5
*.map
*.js
*.css
*.tex
*.eps


# input files
*.key
*.pc
*.k
*.input
*.dat
*.lib
**/debug_input


# Output files and directories
*.log
*.e
*.csv
*.csv.Alu
*.Alu
log_dust.txt
log_*
**/fragmenttable
**/fragments
**/Techplot
**/Tecplot
**/Sums
**/paraview
**/voxels
*.vtk
*.i1
*.i6
*.sum
*.out
gmon.out
*hostlist*
*HOSTFILE*
simulation.*

# random file extensions
*.pub
id_rsa
*.png
*.jpg
*.bmp
*.doc
*.msg
*.rtf
*.docx
*.xls
*.xlsx
*.pptx
*.pdf
*.cfile
*.ad
*.step
*.stl
*.potx
*.exe
*.zip
*.rar
*.dmg
*.7z
*.avi
*.mp4
*.m4v
*.mp3
*.ogg
*.acc
*.aiff
*.wav
*.mov
*.vtu
*.htm
*.html
*.part